<h3 class="text-center">About this page</h3>
<div class="row">
    <div class="col-12-sm text-center">
        <p>What you see here is a web frontend for our bitcoin full node. The code is available under GPLv2 on github (see below).This page is in development. Please take a look at the github link for more information. Please feel free to post any improvements or comments in the issue page.</p>
        <a href="https://github.com/KanoczTomas/01Cnode.git">https://github.com/KanoczTomas/01Cnode.git</a>
      
    </div>
</div>
<br>
<div class="row">
    <div class="col-12-sm text-center">
        <p>In case you like email more, please write us at:</p>
        <strong>ispol at ispol dot sk</strong>
    </div>
</div>
