<h4 class="text-center">Showing last {{blocks.length|| 0}} blocks:</h4>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>height</th>
            <th>transactions</th>
            <th>size</th>
            <th>weight</th>
            <th>time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="block in blocks | orderBy : 'height' : 'reverse'">
            <td>{{block.height}}</td>
            <td>{{block.tx.length}}</td>
            <td>{{block.size | bytes:'SIbytes.dynamic'}}</td>
            <td>{{block.weight | bytes:'WU.dynamic'}}</td>
            <td>{{block.time | date:'dd MMM yyyy HH:mm:ss'}}</td>
        </tr>
    </tbody>
</table>
<pre>{{blocks | json}}</pre>
<div loading></div>
