<h4 class="text-center">Total mempool entries: {{mempoolEntry.size|| 0}}</h4>
<h4 class="text-center">Total mempool size: {{(mempoolEntry.bytes | bytes:'kB') || 0}} - roughly fits to {{mempoolEntry.fitsToHowManyBlocks}} block(s)</h4>
<p class="text-center"></p>
<table class="table table-responsive">
    <caption class="text-center">Showing last {{txes.length < showN ? txes.length : showN}} transactions</caption>
    <thead>
        <tr>
            <th>txid&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
            <th>amount sent</th>
            <th>size</th>
            <th>weight</th>
            <th>fee [sat/B]</th>
            <th>fee [sat/WU]</th>
            <th>segWit?</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="setCSSanimation($index)" ng-repeat="tx in txes">
            <td>{{tx.txid}}</td>
            <td>{{tx.totalSent}} BTC</td>
            <td>{{tx.byteLength | bytes:'SIbytes.dynamic'}}</td>
            <td>{{tx.weight | bytes:'WU.dynamic' }}</td>
            <td>{{(tx.fee/tx.byteLength).toFixed(2)}}</td>
            <td>{{(tx.fee/tx.weight).toFixed(2)}}</td>
            <td><span ng-show="tx.hasWitnesses" class="text-center text-success">yes</span><span ng-hide="tx.hasWitnesses" class="text-center text-danger">no</span></td>
        </tr>
    </tbody>
</table>
<div loading></div>
