<h4 class="text-center">Total mempool entries: {{mempoolEntries.size|| 0}}</h4>
<table class="table table-responsive">
    <caption class="text-center">Showing last {{txes.length < showN ? txes.length : showN}} transactions</caption>
    <thead>
        <tr>
            <th>txid&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
            <th>amount sent</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="setCSSanimation($index)" ng-repeat="tx in txes">
            <td>{{tx.txid}}</td>
            <td>{{tx.totalSent}} BTC</td>
        </tr>
    </tbody>
</table>
<div loading></div>
