<pre>
There will be an autorefresh every 5 seconds, can be toggled in a dropdown menu.
then every node will be there with specific info:

{
  "id": 5,
  "addr": "47.89.31.46:8333",
  "addrlocal": "217.12.62.213:50530",
  "services": "000000000000000d",
  "relaytxes": true,
  "lastsend": 1484763077,
  "lastrecv": 1484763071,
  "bytessent": 9499284,
  "bytesrecv": 18417144,
  "conntime": 1484678615,
  "timeoffset": -1,
  "pingtime": 0.365141,
  "minping": 0.354444,
  "subver": "/Satoshi:0.13.2/",
  "inbound": false,
  }

when clicked on an entry it should display all stats for that ID

there will be an angular filter with a search to find stuff

add info about the hw, disk space, cpu info, etc
write the estimated fee on the webpage calling estimatefee when clicked (it will load the current estimated fee per rendering, it will be possible to choose the number of blocks)
any other ideas here ...

</pre>
