.loader {
    /*position: absolute;
    top: 20%;
    left: 50%;*/
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    display: block;
}
@-webkit-keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(720deg);}
}
@-ms-keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(720deg);}
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(720deg);}
}